.mobile-search {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 111;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

  .mobile-search__inner {
    width: 100%;
    background-color: $white;
    height: 100px;
    box-shadow: 4px 0 5px 2px rgba(0, 0, 0, 0.1);
  }

  .mobile-search__form {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100%;

    .mobile-search__form__btn {
      height: 50px !important;
      width: 50px !important;
      min-width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 !important;
      margin-left: 12px;
      .icon {
        width: auto;
        margin: 0 !important;
      }
    }

    .form-group {
      height: 50px;
      display: flex;
    }

    .form-control {
      box-shadow: none;
      background-color: #f8f6f4;
      border: 1px solid #f8f6f4;
      transition: 0.2s ease border-color;

      &:focus {
        border-color: #ccc;
      }
    }
  }
}
